<div>
    <table class="table table-striped">
        <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize" [maxSize]="5" [rotate]="true" [ellipses]="false" (pageChange)="refreshUsers()">
        </ngb-pagination>
        <div class="d-flex justify-content-between p-2">
            <select class="custom-select" style="width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshUsers()">
        <option [ngValue]="2" selected>2 items per page</option>
        <option [ngValue]="4">4 items per page</option>
        <option [ngValue]="6">6 items per page</option>
      </select>
            <input (keyup)="applyFilter($event)" placeholder="Search UserName" />
        </div>

        <tr>
            <th>UserName</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
            <th>Postal Code</th>
        </tr>
        <tr *ngFor="let item of responseusersDataArray">
            <td>{{ item.userName }}</td>
            <td>{{ item.phoneNumber }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item.state }}</td>
            <td>{{ item.postalCode }}</td>
        </tr>
    </table>
</div>