<button mat-raised-button color="warn" routerLink="/display">Show Users</button>

<div style="margin: 86px; margin-left: 195px">
    <h1 style="color: red">Register!</h1>
    <mat-card style="width: 358px">
        <Form [formGroup]="registerForm" class="register-div">
            <mat-form-field class="example-full-width">
                <mat-label>User Name</mat-label>
                <input matInput placeholder="userName" formControlName="userName" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>PhoneNumber</mat-label>
                <input matInput placeholder="phoneNumber" formControlName="phoneNumber" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Email</mat-label>
                <input matInput placeholder="email" formControlName="email" />
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <mat-label>Address</mat-label>
                <textarea matInput placeholder="Ex. 100 Main St" formControlName="address">
1600 Amphitheatre Pkwy</textarea
        >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>City</mat-label>
        <input
          matInput
          placeholder="Ex. San Francisco"
          formControlName="city"
        />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>State</mat-label>
        <input matInput placeholder="Ex. California" formControlName="state" />
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Postal Code</mat-label>
        <input
          matInput
          #postalCode
          maxlength="5"
          placeholder="Ex. 94105"
          value="94043"
          formControlName="postalCode"
        />
        <mat-hint align="end">{{ postalCode.value.length }} / 5</mat-hint>
      </mat-form-field>
      <button mat-raised-button color="warn" (click)="onSubmit()">
        Submit
      </button>
    </Form>
  </mat-card>
</div>